* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif; 
    font-weight: 300;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    background: linear-gradient(3deg, white 25%, var(--primary-color) 0%);
    z-index: -1;
}

body::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 293px;
    background: linear-gradient(177deg, white 30%, var(--primary-color) 0%);
    z-index: -1;
    transform: translateY(-100%);
}


h1 {
    font-size: 2.5em;
}

h3 {
    font-size: 1.25em;
}

h4 {
    font-weight: 300;
}

h5 {
    font-size: 1em;
}

h6 {
    font-size: 0.75em;
}

.container {
    margin: 0 auto;
    width: 60vw;
}