* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif; 
    font-weight: 300;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    background: linear-gradient(3deg, white 25%, var(--primary-color) 0%);
    z-index: -1;
}

body::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 293px;
    background: linear-gradient(177deg, white 30%, var(--primary-color) 0%);
    z-index: -1;
    transform: translateY(-100%);
}


h1 {
    font-size: 2.5em;
}

h3 {
    font-size: 1.25em;
}

h4 {
    font-weight: 300;
}

h5 {
    font-size: 1em;
}

h6 {
    font-size: 0.75em;
}

.container {
    margin: 0 auto;
    width: 60vw;
}

.visible {
    display: block;
}

.hidden {
    display: none;
}

.lds-dual-ring {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    z-index: 2;
}
.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid black;
    border-color: black transparent black transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}