.visible {
    display: block;
}

.hidden {
    display: none;
    top: -200% !important;
}

.lds-dual-ring {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    z-index: 2;
}
.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid black;
    border-color: black transparent black transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.add-opacity {
    opacity: 0.5;
}

.add-opacity .response {
    opacity: 1.0 !important;
}

.response {
    position: fixed;
    display: flex;
    align-items: center;
    max-width: 30%;
    left: 50%;
    top: 50%;
    z-index: 3;
    transition: all 0.3s;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    cursor: pointer;
    padding: 20px;
    color: white;
    background-color: var(--primary-color);
    text-align: center;
    font-size: 1.5em;
    border: 1px solid black;
    box-shadow: 0 0 15px black
}