.footer {
    height: 293px;
    display: flex;
    align-items: start;
    justify-content: center;
    text-align: center;
    line-height: 1.4em;
    padding-top: 157px;
}

@media screen and (max-width: 420px) {
    .footer {
        height: 157px;
        padding-top: 71px;
    }
}