.section-article-forms .article {
    margin-right: 3.75em;
    padding-bottom: 1em;
}

.section-article-forms .article h3 {
    margin-bottom: 1.875em;
}

.section-article-forms .article p {
    font-size: 0.9em;
}