.table {
    width: 100%;
}

.table .title {
    width:1px;
    padding: 0 10px;
    white-space: nowrap;
}

.table td hr {
    border: none; 
    height: 1.5px; 
    background-color: black; 
}

@media screen and (max-width: 420px) {
    .table {
        width: 100vw;
        position: relative;
    }
}